html,
body {
    font-family: 'Open Sans', serif;
    background: #F2F6FA;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
}

.container h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.topNav {
    border-top: 5px solid #3498DB;
}

.topNav .container {
    border-bottom: 1px solid #E6EAEE;
}

section.container {
    padding: 3rem 0;
}


/*.container .columns {
    margin: 3rem 0;
  }*/

a.navbar-item.is-active {
    font-weight: bold;
}

aside .menu {
    padding-bottom: 3rem;
}

aside .menu .menu-list {
    line-height: 1.5;
}

aside .menu .menu-label {
    /* padding-left: 10px; */
    font-weight: 700;
}

aside .menu .menu-label::before {
    content: "• "
}

.button.is-primary.is-alt {
    background: #00c6ff;
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
    font-weight: 700;
    font-size: 14px;
    height: 3rem;
    line-height: 2.8;
}

.media-left img {
    border-radius: 50%;
}

article.post .media-content p {
    font-size: 14px;
    line-height: 2.3;
    font-weight: 700;
    color: #8F99A3;
}

article.post {
    /*margin: 1rem;
    padding-bottom: 1rem;*/
    margin: 0 0 1rem 0;
    padding: 1rem;
    border-bottom: 1px solid #E6EAEE;
}

article.post:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

article.post .body {
    margin-top: 1em;
    /* border-top: 1px solid #eee; */
}

.menu-list li {
    padding: 5px;
}

.replies>.reply .reply {
    padding-left: 0.5em;
    border-left: 2px solid #8F99A3;
}

article.post.comment .media p,
article.post.comment .media i {
    font-size: 0.7em;
    line-height: unset;
}

article.post:target {
    background-color: lightyellow;
}

.text-muted {
    color: #999;
}

.search.box {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.quote-pre {
    margin-bottom: 0 !important;
    color: #999;
    font-size: 0.8em;
}

.quote-switcher.quote-show {
    display: block;
    text-align: center;
    font-size: 0.7em;
    /* background: linear-gradient(0deg, rgba(189,189,189,0) 0%, rgba(189,189,189,0) 49%, rgba(0,0,0,1) 50%, rgba(189,189,189,0) 51%, rgba(189,189,189,0) 100%); */
    line-height: 2em;
    position: relative;
}

.quote-switcher.quote-show::before {
    position: absolute;
    display: block;
    content: " ";
    border-top: 1px solid #ccc;
    width: 40%;
    top: 1em;
    left: 0;
}

.quote-switcher.quote-show::after {
    position: absolute;
    display: block;
    content: " ";
    border-top: 1px solid #ccc;
    width: 40%;
    top: 1em;
    right: 0;
}

blockquote {
    position: relative;
}

.quote-switcher.quote-hide {
    position: absolute;
    font-size: 0.7em;
    top: 0;
    right: 0;
    padding: 0.5em;
}

.mail-signature {
    color: #999;
}

.tag {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    margin: 0.1em;
    display: inline-block;
}

.footer {
    margin-top: 6rem;
    padding: 3rem 1.5rem;
    background-color: #363636;
    color: #f2f6fa;
}

footer .container .columns {
    margin: 0;
}


/* not mobile */

@media screen and (min-width: 769px) {
    /* bulma mobile breakpoint */
    .top-pagination {
        display: none;
    }
    .navbar-start .navbar-item:not(:first-child)::before {
        content: "/";
        display: inline-block;
        position: relative;
        left: -1rem;
        font-weight: normal;
    }
}


/* mobile */

@media screen and (max-width: 768px) {
    /* bulma mobile breakpoint */
    section .columns {
        display: flex;
        flex-direction: column;
    }
    section aside {
        order: 99;
    }
    section.container {
        padding: 1rem 0;
    }
    section>.columns>div.column {
        padding: .75rem 0;
    }
    section>.columns>div.column>.box {
        border-radius: 0;
    }
    .top-pagination {
        display: block;
    }
    .pagination {
        padding: .75rem;
    }
    .pagination .is-invisible {
        display: none !important;
    }
    .box.content {
        padding: 0;
        padding-bottom: 0.1rem;
    }
    .replies>.reply {
        padding-left: 1em;
    }
    .replies>.reply .reply {
        padding-left: 0.5em;
        border-left: 2px solid #8F99A3;
    }
    .navbar-menu .navbar-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}