
{% import "_tag.html" as tagmacro %}
<a name="c{{message.id}}"></a>
<article id="c{{message.id}}" class="post comment">
    <div class="media">
        <div class="media-left">
            <p class="image is-16x16">
                <img src="{{ url_for('avatar', id = message.sender.id, s = 16) }}">
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <a href="{{ url_for('user', id=message.sender.id) }}">{{ message.sender.name }}</a> 
                        commented <time pubdate datetime="{{ message.date }}"  title="{{ message.date }}">{{ message.date}}</time>
                        on <a href="{{ url_for('mailinglist', slug=message.mailinglist.slug) }}">{{ message.mailinglist.slug }}</a> &nbsp;
                    {% for tag in message.tags %}
                        {{ tagmacro.tag(tag, mailinglist) }}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="media-right">
           <a href="{{ url_for('message', id = message.id) }}"><i class="fa fa-link" title="Permalink to this comment" alt="Permalink"></i></a>
           <a href="{{ url_for('raw', id = message.id) }}"><i class="fa fa-code" title="Raw source" alt="Raw source"></i></a>
        </div>
    </div>
    <div class="body">{{ message.body|markdown|collapsequote|mailsig|safe }}</div>
</article>

