{% import "_tag.html" as tagmacro %}

{% macro messagemeta(message, mailinglist) -%}
    <div class="media">
        <div class="media-left">
            <p class="image is-32x32">
                <img src="http://bulma.io/images/placeholders/32x32.png">
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <a href="{{ url_for('user', id=message.sender.id) }}">{{ message.sender.name }}</a> 
                        posted <span data-date="{{ message.date }}">{{ message.date}}</span> 
                        on <a href="{{ url_for('mailinglist', slug=message.mailinglist.slug) }}">{{ message.mailinglist.slug }}</a> &nbsp;
                    {% for tag in message.tags %}
                        {{ tagmacro.tag(tag, mailinglist) }}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="media-right">
            {{ caller() }}
        </div>
    </div>
{%- endmacro %}