
{% import "_tag.html" as tagmacro %}
<article class="post">
    <h4>
        {% if message.parent %}<i class="fa fa-comment-o" alt="Comment" title="Comment in a thread"></i>{% endif %}
        <a href="{{ url_for('message', id=message.id, slug=message.slug) }}">{{ message.subject }}</a>
    </h4>
    <div class="media">
        <div class="media-left">
            <p class="image is-32x32">
                <img src="{{ url_for('avatar', id = message.sender.id, s = 32) }}">
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <a href="{{ url_for('user', id=message.sender.id) }}">{{ message.sender.name }}</a>
                        {% if message.parent %}commented{% else %}posted{% endif %}
                        <time pubdate datetime="{{ message.date }}" title="{{ message.date }}">{{ message.date}}</time>
                        on <a href="{{ url_for('mailinglist', slug=message.mailinglist.slug) }}">{{ message.mailinglist.slug }}</a> &nbsp;
                    {% for tag in message.tags %}
                        {{ tagmacro.tag(tag, mailinglist) }}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="media-right">
            {% if message.parent == None %}
            {% with comments = message.count_children() %}
                {% if comments > 0 %}
                    <a href="{{ url_for('message', id=message.id, slug=message.slug) }}#comments">
                        <span class="has-text-grey-light"><i class="fa fa-comments"></i> {{ message.count_children() }}</span>
                    </a>
                {% endif %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
</article>
