{% macro pagination(paginatedquery) -%}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a href="{{ (paginatedquery|pageurl).prev() }}" 
            class="pagination-previous {% if  paginatedquery.get_page() == 1 %}is-invisible{% endif %}">Previous</a>

        <a href="{{ (paginatedquery|pageurl).next() }}" 
            class="pagination-next {% if  paginatedquery.get_page() == paginatedquery.get_page_count() %}is-invisible{% endif %}">Next page</a>
        
        <ul class="pagination-list">
            <li><a href="{{ (paginatedquery|pageurl).first() }}" class="pagination-link {% if paginatedquery.get_page() == 1 %}is-current{% endif %}" aria-label="Goto page 1">1</a></li>
            {% if paginatedquery.get_page() <= 2 %}
                {% for k in range(2, 4 if paginatedquery.get_page_count() > 4 else paginatedquery.get_page_count()) %}
                <li><a href="{{ (paginatedquery|pageurl).page(k) }}" class="pagination-link {% if paginatedquery.get_page() == k %}is-current{% endif %}" aria-label="Goto page {{k}}">{{k}}</a></li>
                {% endfor %}

                {% if paginatedquery.get_page_count() > 4 %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
            {% endif %}
            {% if paginatedquery.get_page() > 2 and paginatedquery.get_page() < paginatedquery.get_page_count() - 2 %}
                {% if paginatedquery.get_page()-1 > 2 %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}

                {% for k in range(paginatedquery.get_page()-1, paginatedquery.get_page()+2 if paginatedquery.get_page_count() > paginatedquery.get_page()+2 else  paginatedquery.get_page_count()) %}
                <li><a href="{{ (paginatedquery|pageurl).page(k) }}" class="pagination-link {% if paginatedquery.get_page() == k %}is-current{% endif %}" aria-label="Goto page {{k}}">{{k}}</a></li>
                {% endfor %}
                
                <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% endif %}
            {% if paginatedquery.get_page() > 2 and  paginatedquery.get_page() >= paginatedquery.get_page_count() - 2 %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>

                {% for k in range(paginatedquery.get_page_count() - 3, paginatedquery.get_page_count()) %}
                <li><a href="{{ (paginatedquery|pageurl).page(k) }}" class="pagination-link {% if paginatedquery.get_page() == k %}is-current{% endif %}" aria-label="Goto page {{k}}">{{k}}</a></li>
                {% endfor %}

            {% endif %}

            {% if paginatedquery.get_page_count() > 1 %}
            <li><a  href="{{ (paginatedquery|pageurl).last() }}" class="pagination-link {% if paginatedquery.get_page() == paginatedquery.get_page_count() %}is-current{% endif %}" aria-label="Goto page {{ paginatedquery.get_page_count() }}">{{ paginatedquery.get_page_count() }}</a></li>
            {% endif %}
        </ul>
    </nav>
    <p></p>
{%- endmacro %}