{# vars: 
    tag (a Tag object), 
    mailinglist (a MailingList object, optional)
    cls (list of string, optional css classes for tag span)
#}
{% macro tag(tag, mailinglist = None, cls= []) -%}
<a href="{{ url_for('search') }}?q=%23{{ tag|urlencode }}{% if mailinglist %}&m={{ mailinglist.slug|urlencode }}{% endif %}">
    <span class="tag {{ cls|join(' ') }} " 
        style="background-color: {{tag.color}}">{{tag}}</span>
    </a>
{%- endmacro %}