{# var: 
    tags (list of Tag obejcts) 
    mailinglist (a MailingList object, optional)
#}
{% import "_tag.html" as tagmacro %}

<div class="menu">
    <p class="menu-label">Tags</p>
    {% if tags|count %}
        {% for tag in tags %}
            {{ tagmacro.tag(tag, mailinglist, ['is-medium']) }}
        {% endfor %}
        <a href="{{ url_for('tags') }}">all tags...</a>
    {% else %}
    <p class="text-muted">no tags yet</p>
    {% endif %}
</div>