<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - LiAr</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='liar-icon.png', v=1) }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='icons/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/OpenSans.css') }}">
        <!-- Bulma Version 0.7.5-->
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css', v=3) }}">
    </head>
    <body>
        <nav class="navbar is-white" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% block brand_link %}{{ url_for('index') }}{% endblock %}">
                        <img src="{{ url_for('static', filename='liar-logo.svg', v=2) }}" alt="Logo" title="LiAr - the lists archiver">
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="liarNavbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="liarNavbar" class="navbar-menu">
                    <div class="navbar-start">
                        {% block navbar %}
                        <a class="navbar-item is-active" href="{{ url_for('index') }}">Home</a>
                        {% endblock %}
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            {% include "_search.html" with context %}
                        </div>
                        {% if g.user %}
                         <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <img src="{{ url_for('avatar', id = g.user.id, s = 32) }}"> &nbsp; {{ g.user.name }}
                            </a>
                             <div class="navbar-dropdown">
                                <a  class="navbar-item" href="{{ url_for('logout') }}">
                                    <span>Logout</span>
                                    <!-- <span class="icon">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </span> -->
                                </a>
                            </div>
                        </div>
                        {% else %}
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <section class="container">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="notification is-danger">
                        {# <button class="delete"></button> #}
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% block content %}
            {% endblock %}
        </section>
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p class="name"><img src="{{ url_for('static', filename='liar-icon.svg', v=1) }}" height="48" width="48"><br>LiAr - the Lists Archiver</p>
                    <div class="columns is-mobile is-centered">
                        <div class="field is-grouped is-grouped-multiline">
                            <!-- div class="control">
                                <div class="tags has-addons">
                                    <a class="tag is-link" href="https://github.com/dansup/bulma-templates">Bulma Templates</a>
                                    <span class="tag is-light">Daniel Supernault</span>
                                </div>
                            </div>-->
                            <div class="control">
                                <div class="tags has-addons">
                                    <a class="tag is-link" href="https://gitlab.com/fabrixxm/liar">source code</a>
                                    <span class="tag is-light">&nbsp;<i class="fa fa-git"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script async type="text/javascript" src="{{ url_for('static', filename='humanized_time_span.js') }}"></script>
        <script async type="text/javascript" src="{{ url_for('static', filename='app.js', v=3) }}"></script>
    </body>
</html>
