{% extends 'threadsview.html' %}

{% block title %}Home{% endblock %}

{% block menu %}
<div class="menu">
    <p class="menu-label">Lists</p>
    {% if lists|count %}
        <ul>
        {% for list in lists %}
            <li><a href="{{ url_for('mailinglist', slug=list.slug) }}">{{ list.slug }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p class="text-muted">no lists yet</p>
    {% endif %}
</div>
{{ super() }}
{% endblock %}