{% extends 'threadsview.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="columns is-mobile is-centered has-text-centered">
        <div class="column is-6">
            <p class="has-text-danger is-size-1"><i class="fa fa-frown-o" aria-hidden="true"></i></p>

            <p>Sorry, the link is invalid.</p>
            <p>Try to <a href="{{ url_for('login') }}">login again</a></p>
        </div>
    </div>

{% endblock %}