{% extends 'threadsview.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="columns is-mobile is-centered has-text-centered">
        <div class="column is-6">
            <p class="has-text-success is-size-1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></p>

            <p>An email as been sent to the address you indicated with a login link.</p>
            <p>Click on the link or copy and paste it into the browser address bar to continue.</p>
        </div>
    </div>

{% endblock %}