{% extends 'threadsview.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post">
    <div class="columns is-mobile is-centered">
        <div class="column is-4">
            <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" name="email" required>
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            </p>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{ question }} = </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="number" placeholder="?" name="answer" required>
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input type="submit" class="button is-primary" value="Login">
                </div>
            </div>
        </div>

    </div>
</form>
{% endblock %}