{% extends 'threadsview.html' %}

{% block title %}{{ mailinglist }}{% endblock %}

{% block navbar %}
    <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
    <a class="navbar-item is-active" href="{{ url_for('mailinglist', slug=mailinglist.slug) }}">{{ mailinglist }}</a>
{% endblock %}


{% block menu %}
<div class="menu">
    <p class="menu-label">/r/{{ mailinglist.slug }}</p>
    {% if mailinglist.post_url and g.user %}
        <a href="{{ mailinglist.post_url }}" class="button is-link is-fullwidth">Post new</a>
        <hr>
    {% endif %}
    <ul>
        {% if mailinglist.help_url and g.user %}<li><a href="{{ mailinglist.help_url }}">Mailing list help</a></li>{% endif %}
        {% if mailinglist.sub_url %}<li><a href="{{ mailinglist.sub_url }}">Subscribe to mailing list</a></li>{% endif %}
    </ul>
</div>
{{ super() }}
{% endblock %}
