{% extends 'base.html' %}

{% block title %}{{ message }} - {{ mailinglist }}{% endblock %}

{% block brand_link %}{{ url_for('mailinglist', slug=mailinglist.slug) }}{% endblock %}

{% block navbar %}
    <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
    <a class="navbar-item" href="{{ url_for('mailinglist', slug=mailinglist.slug) }}">{{ mailinglist }}</a>
    <a class="navbar-item is-active" href="{{ url_for('message', id=message.id, slug=message.slug) }}">{{ message }}</a>
{% endblock %}

{% block content %}
    <div class="columns">

        <div class="column is-full">
            <div class="box content">
                {% include "_fullmessage.html" with context %}
            </div>
            
            <!-- message comments -->
            <a name="comments"></a>
            
            {% if message.children %}
            <div class="box content replies">
                {% import "_thread.html" as thread %}
                {{ thread.thread(message.children) }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}