{% extends 'base.html' %}

{% block title %}(raw) {{ message }} - {{ mailinglist }}{% endblock %}

{% block navbar %}
    <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
    <a class="navbar-item" href="{{ url_for('mailinglist', slug=mailinglist.slug) }}">{{ mailinglist }}</a>
    <a class="navbar-item is-active" href="{{ url_for('message', id=message.id, slug=message.slug) }}">{{ message }}</a>
{% endblock %}

{% block content %}
    <div class="columns">

        <div class="column is-full">
            <div class="content">
                <pre>{{ message.eml|mailcrop}}</pre>
            </div>
        </div>
    </div>
{% endblock %}