{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block navbar %}
    <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
    {% if mailinglist %}
    <a class="navbar-item is-active" href="{{ url_for('mailinglist', slug=mailinglist.slug) }}">{{ mailinglist }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="search box content">
        <h4>Search: </h4>
        {% include "_search.html" with context %}
    </div>
    {% if results_count == 0 %}
        <p class="text-muted has-text-centered">no results</p>
    {% else %}
        <div class="box content">
            {% for message in results.get_object_list()  %}
                {% include "_message.html" with context %}
            {% endfor %}

        
        </div>
    {% endif %}
    </div>

    {% import "_pagination.html" as p %}
    {{ p.pagination(results) }}
{% endblock %}