{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block navbar %}
    <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
    {% if mailinglist %}
    <a class="navbar-item is-active" href="{{ url_for('mailinglist', slug=mailinglist.slug) }}">{{ mailinglist }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% import "_tag.html" as tagmacro %}
    <div class="search box content tagpage">
        {% for tag in tags %}
            {{ tagmacro.tag(tag, mailinglist, ['is-medium']) }}
        {% endfor %}
    </div>

{% endblock %}