{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="columns">
        <aside class="column is-3 menu">
            {% block menu %}
                {% include "_taglist.html" with context %}
            {% endblock %}
        </aside>

        <div class="column is-9">

            <div class="top-pagination ">
            {% import "_pagination.html" as p %}
            {{ p.pagination(threads) }}
            </div>

            <div class="box content">
                {% for message in threads.get_object_list() %}
                    {% include "_message.html" with context %}
                {% endfor %}
            </div>

            {% import "_pagination.html" as p %}
            {{ p.pagination(threads) }}
        </div>
    </div>



{% endblock %}