{% extends 'threadsview.html' %}

{% block title %}{{ user.name|mailcrop }}{% endblock %}

{% block navbar %}
    <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
    <a class="navbar-item is-active" href="{{ url_for('user', id=user.id) }}">{{ user|string|mailcrop }}</a>
{% endblock %}


{% block content %}
<div class="card">
    <!-- <div class="card-image">
    <figure class="image is-3by1">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
    </div> -->
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                <img src="{{ url_for('avatar', id = user.id) }}" aria-hidde="true">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ user.name }}</p>
                <p class="subtitle is-6">{{ user.email|mailcrop }}</p>
            </div>
        </div>

        <div class="content">
            {% with messagescount = user.messages.count(), listscount = user.get_mailinglists().count(), threadcount = user.get_threads().count() %}
                <p>{{ messagescount }} post{{ messagescount|pluralize }},
                    {{ threadcount }} thread{{ threadcount|pluralize }} in
                {{ listscount }} list{{ listscount|pluralize }}.</p>

            {% endwith %}
        </div>
    </div>
</div>

<h3>User threads</h3>

<div class="top-pagination ">
{% import "_pagination.html" as p %}
{{ p.pagination(threads) }}
</div>

<div class="box content">
    {% for message in threads.get_object_list() %}
        {% include "_message.html" with context %}
    {% endfor %}
</div>

{% import "_pagination.html" as p %}
{{ p.pagination(threads) }}

{% endblock %}